apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  labels:
    run: hello-app
  name: hello-app
  namespace: hello
spec:
  replicas: 5
  selector:
    matchLabels:
      run: hello-app
  template:
    metadata:
      labels:
        run: hello-app
    spec:
      containers:
      - image: kitch/hello-app:latest
        name: hello-app
